<nav class="navbar bg-dark py-3 z-2" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid px-4">
        <button class="btn btn-none d-flex" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions"
                aria-controls="offcanvasWithBothOptions"><i class="fa-brands fa-python text-white fa-2x"></i>
            <text class="ms-4 fs-5 text-white my-auto">Smart Home</text>
        </button>

        <div class="d-flex">
            {#            <a class="navbar-link text-decoration-none me-4" href="/login">#}
            {#                Login#}
            {#            </a>#}
            {#            <a class="navbar-link text-decoration-none" href="/register">#}
            {#                Register#}
            {#            </a>#}
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-start z-1" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
     id="offcanvasWithBothOptions"
     aria-labelledby="offcanvasWithBothOptionsLabel">
    <div id="content" class="mt-5 pt-5 px-3">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <button class="btn btn-outline-primary border-0 w-100 text-start p-3 mb-2">
                <i class="fa-solid fa-house me-3 fa-lg"></i>Dashboard
            </button>
            <button class="btn btn-outline-primary border-0 w-100 text-start p-3 mb-2">
                <i class="fa-solid fa-house-laptop me-3 fa-lg"></i>Devices
            </button>
            <button class="btn btn-outline-primary border-0 w-100 text-start p-3 mb-2">
                <i class="fa-solid fa-plus me-3 fa-lg"></i>Add devices
            </button>
        </div>
    </div>
</div>